{% extends 'blog/base.html' %}
{% block content %}


 <div class="container">
    <section class="section">
    <div class="container">
      <div class="heading">
       
        
      </div>
    </div>
  </section>
  <div class="columns">
      <div class="column is-8 columns is-gapless  is-multiline ">
        
<div class="column is-12"><h1>Latest Brexit News</h1></div>
      

     
      
      
         </div>
<div class="column is-4">
  <h1>Most Read</h1>
  
 </div></div>
</div>
           
       {% endblock %}
